<div id="content" class="content-site customize-site">
    {{ range .Site.Data.webstack }}
        {{ if .list }}
            {{ range .list }}
	    <!--正文网址导航--》
            < !-- {{ .term }} -->
            <div class="d-flex flex-fill">
                <h4 class="text-gray text-lg mb-4">
                    <i class="site-tag iconfont icon-tag icon-lg mr-1" id="{{ md5 .term }}"></i>
                    {{ .term }}
                </h4>
                <div class="flex-fill"></div>
                <!--a class='btn-move text-xs' href='#'>more+</a-->
            </div>
            <!--获取内容列表-->
            <div class="row">
                {{ range .links }}
                    {{ partial "link_card" (dict "link" . "site" $.Site) }}
                {{ end }}
            </div><!--end row-->
            <br />
            <!--END {{ .term }} -->
            {{ end }}
        {{ else }}
	    <!--常用推荐-->
            <!-- {{ .taxonomy }} -->
            <div class="d-flex flex-fill">
                <h4 class="text-gray text-lg mb-4">
                    <i class="site-tag iconfont icon-tag icon-lg mr-1" id="{{ md5 .taxonomy }}"></i>
                    {{ .taxonomy }}
                </h4>
                <!--div class="flex-fill"></div>
                <a class='btn-move text-xs' href='#'>more+</a-->
            </div>
            <!--获取内容列表-->
            <div class="row">
                {{ range .links }}
                    {{ partial "link_card" (dict "link" . "site" $.Site) }}
                {{ end }}
            </div>
            <br />
            <!--END {{ .taxonomy }} -->
        {{ end }}
    {{ end }}                        

    <h4 class="text-gray text-lg mb-4">
        <i class="iconfont icon-book-mark-line icon-lg mr-2" id="friendlink"></i>友情链接
    </h4>
    <div class="friendlink text-xs card">
        <div class="card-body"> 
	    {{ range .Site.Data.friendlinks }}
	    <a href="{{ .url }}" title="{{ .description }}" target="_blank">{{ .title }}</a>
	    {{ end }}
        </div>
    </div>
</div>
