<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#f9f9f9">
    <title>{{ .Site.Title }}</title>
    <link rel="shortcut icon" href="{{ $.Site.Params.images.favicon }}">
    <meta name="keywords" content="{{ .Site.Title }}">
    {{ if $.Site.Params.seo.baiduSiteVer }}
    <meta name="baidu-site-verification" content="{{ $.Site.Params.seo.baiduSiteVer }}" />
    {{ end }}
    <link rel='stylesheet' id='block-library-css' href='{{ $.Site.Params.siteurl }}/assets/css/block-library.min-5.6.2.css' type='text/css' media='all'>
    <link rel='stylesheet' id='iconfont-css' href='{{ $.Site.Params.siteurl }}/assets/css/iconfont-3.03029.1.css' type='text/css' media='all'>
    <link rel='stylesheet' id='bootstrap-css' href='{{ $.Site.Params.siteurl }}/assets/css/bootstrap.min-4.3.1.css' type='text/css' media='all'>
    <link rel='stylesheet' id='fancybox-css' href='{{ $.Site.Params.siteurl }}/assets/css/fancybox.min-3.5.7.css' type='text/css' media='all'>
    <link rel='stylesheet' id='iowen-css' href='{{ $.Site.Params.siteurl }}/assets/css/style-3.03029.1.css' type='text/css' media='all'>
    <link rel='stylesheet' id='custom-css' href='{{ $.Site.Params.siteurl }}/assets/css/custom-style.css' type='text/css' media='all'>
    <link rel="stylesheet" id="fortawesome-css" href="{{ $.Site.Params.siteurl }}/assets/fontawesome-5.15.4/css/all.min.css" type="text/css">
    <script type='text/javascript' src='{{ $.Site.Params.siteurl }}/assets/js/jquery.min-3.2.1.js' id='jquery-js'></script>
    <script type='text/javascript' src='{{ $.Site.Params.siteurl }}/assets/js/content-search.js' id='content-search-js'></script>
    <!-- 百度统计 -->
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?{{ $.Site.Params.seo.baiduhmid }}";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <!-- end 百度统计 --> 
    <!--umami 统计-->
    <script async defer data-website-id="f366bda0-02fb-444e-87b5-a95e432acdcc" src="https://umami.status.xzgljiang.com/umami.js"></script>
     <!-- 点击次数排行 -->
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            fetch('https://umami.api.xzgl.site/api/getEvents')
            .then(response => response.json())
            .then(resdata => {
                var data=resdata
                var result = ''
                for(var i=0;i < 10;i++){ 
                    let linktitle = data[i].x.split('-')[0];
                    let linkurl   = data[i].x.split('-')[1];
                    var iconlink="https://api.iowen.cn/favicon/"+linkurl.split('//')[1]+".png";
                    result+=`
                        <div class="url-card col-6  col-sm-6 col-md-4 col-xl-5a col-xxl-6a">
                            <div class="url-body default">
                                <a href="${ linkurl }" target="_blank" data-id="" data-url="${ linkurl }" class="card no-c mb-4 umamii" data-link-name="${ linktitle }">
                                    <div class="card-body">
                                        <div class="url-content d-flex align-items-center">
                                            <div class="url-img mr-2 d-flex align-items-center justify-content-center">
                                                {{ if $.Site.Params.defaultLogo }}
                                                    <img class="lazy" src="${ iconlink }" data-src="${ iconlink }" onerror="javascript:this.src='{{ $.Site.Params.defaultLogo }}'" alt="${ linktitle }">
                                                {{ else }}
                                                    <img class="lazy" src="${ iconlink }" data-src="${ iconlink }" onerror="javascript:this.src='${ iconlink }'" alt="${ linktitle }">
                                                {{ end }}
                                            </div>
                                                <div class="url-info flex-fill">
                                                    <div class="text-sm overflowClip_1">
                                                        <strong>${ linktitle }</strong>
                                                    </div>
                                                    <p class="overflowClip_1 m-0 text-muted text-xs">访问次数: ${ data[i].y}</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="${ linkurl }" class="togo text-center text-muted is-views umamii" data-link-name="${ linktitle }" data-id="689" data-placement="right" title="直达" rel="nofollow">
                                    <i class="iconfont icon-goto"></i>
                                </a>
                            </div>
                        </div>	
                    `
                }
                var umamiDom = document.querySelector('#umamilist');
                umamiDom.innerHTML = result

                                // 使用 Promise 等待所有链接都生成完成后再初始化 umami 分析工具代码
                Promise.all(Array.from(document.querySelectorAll('a.umamii')).map(link => {
                    return new Promise((resolve, reject) => {
                        link.addEventListener('click', () => {
                            const title = link.getAttribute('data-link-name');
                            const url = link.getAttribute('href');
                            // 发送 umami 统计请求
                            umami.trackEvent(`${title}-${url}`, { value: link.getAttribute('link-click') });
                        });

                        resolve();
                    });
                })).then(() => {
                    // 所有链接都已经添加完毕，可以初始化 umami 分析工具
                    //umami.init('your-umami-website-id');
                });
            })
            .catch(error => {
                console.error('API 数据读取失败', error);
                // 执行适当的错误处理操作
                var result = `<div style="color:darkgray; margin: -21px 0 21px 3rem;">
                    ERROR: API 数据获取失败
                    <a style="color:darkgray; text-decoration:underline;" href="#" onclick="location.reload()">刷新</a>
                    <a style="color:darkgray; text-decoration:underline;" href="https://umami.api.xzgl.site/api/getEvents">检查</a>
                    </div>`
                var umamiDom = document.querySelector('#umamilist');
                umamiDom.innerHTML = result
            });
            
        });
    </script>
    <!-- 点击次数排行 end-->
</head>
