.bar-weather {
    
    border: 1px;
    border-radius: 15%;
}

.bar-weather .EKHJj {
    color: #ffffff;
}
.header-bg .bar-weather .EKHJj {
    color: #282a2d;
}
.bar-weather .dsrBSL {
    font-size: 14px;
}