<!-- 
  本代码由 便宜技术博猫 创建
  技术支持 QQ:2420083841 www.azpay.cn
  严禁反编译、逆向等任何形式的侵权行为，违者将追究法律责任
 -->
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>404</title>

<link rel="stylesheet" href="assets/css/error_page.css">

</head>
<body>

<div>
  <aside><img src="assets/images/Mirror.png" alt="404 Image">
  </aside>
  <main>
    <h1>Sorry!</h1>
	<h1>404</h1>
    <p>
     要么你不够酷，无法访问此网页，要么它不存在<em><br><br><font size=6px> Page Not Found</font></em>
    </p>
    <a href="#" onclick="javascript:history.back(-1);"><button>返回上一页！</button></a>
  </main>
</div>

  
</body>
</html>
